/* Fonts */
:root {
    --font-default: "Inter","Poppins","Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter","Poppins","Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #364d59;
    --color-primary: #89C68E;
    --color-secondary: #52565e;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body { 
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: #ffc732;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
    color: var(--Neutral-D_Grey, #4D4D4D); 
  }
  p{
    color: var(--Neutral-Grey, #717171); 
  }
  /*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
  main section {
    margin-top: 85px;
    padding: 80px 0;
    overflow: hidden;
  }

  .card-img{
    border: none;
    width: 100%;
    min-height: 324px;
    border-radius: 40px;
    background: #C4C4C4; 
    position: relative;
  }
  .img-resize-col{ 
    min-height: 244px;
  }
  .card-img img{
    position: absolute;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
  .card-img .button-play{
    position: absolute; 
    z-index: 9;
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    animation-name: stretch ; 
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  @keyframes stretch  {
    0% {
      transform: scale(.8);  
    } 
    
    100% {
      transform: scale(0.9); 
    }
  }
  .card-img .title {
    background: linear-gradient(180deg, rgba(137, 198, 142, 0.00) 20.72%, #89C68E 100%);
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 40px;
    padding-top: 160px;
    padding-left: 30px;
    color: white !important;
  }
  /* .card-img > .title h4, p{
    color: white !important;
  } */
  @media (max-width: 768px) {
    .card-img { 
        border-radius: 40px;
        width: 100%;
        min-height: 244px;
        height: 244px;
    }
    
    .card-img .title {
      padding-top: 155px;
    }
  }

  section .btn-prev {
    border-radius: 50px !important;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 100px;
    color: white;
    background: linear-gradient(180deg, #63B9C2 0%, #98CA7A 100%) !important;
  }

  #services .fill-rounded {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    margin: 0 auto;
    background-color: #EEF0F7;
  }
  .rounded-active{
    background: linear-gradient(180deg, #65BAC0 0%, #8DC78A 100%) !important;
  }
  
  #teams .rounded-team{
    width: 210px;
    height: 215px; 
    border-radius: 50%;
    position: relative;
    /* background-color: #4D4D4D; */
  }
  #teams .rounded-team img{ 
    width: 100%;
    /* height: 100%;  */
    border-radius: 50% !important;
    position: absolute; 
    background-position: center;
    background-size: cover;
  }

  #contats-colaboration .card-colaboration{
    background: linear-gradient(90deg, #68BBBC 25.36%, #89C68E 74.64%); 
    width: 100%;
    height: 180px; 
    border-radius: 50px; 
    color: white !important;
    display: flex;
    align-items: center;
    margin: 2px;
  }
  .card-colaboration .contact{  
    color: white !important;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: rgba(99, 185, 194, 0.00);
    width: 200px;
    display: block;
  }
  @media (max-width: 768px) { 
    #contats-colaboration .card-colaboration{
      height: 77px;
    }
    .card-colaboration .contact{ 
      width: 95px;
      font-size: 0.8em;
    }
    #teams .rounded-team{
      width: 140px;
      height: 135px; 
      border-radius: 50%; 
    }
    .card-colaboration .title{ 
      font-size: 0.9em;
      padding: 0px !important;
      /* text-align: left; */
    }
  }
  @media (max-width: 991px) {
    #teams .rounded-team{
      width: 140px;
      height: 135px; 
      border-radius: 50%; 
    }
  }

  @media (max-width: 640px) {
    .card-colaboration .title{
      font-size: 0.67em;
    }
    .card-colaboration .contact{ 
      width: 85px;
      font-size:  0.67em;
    }
  }
  #artikel .card{
    border-radius: 0px;
    width: 100% !important;
  }
  #artikel .card img{
    border-radius: 0px;
    min-height: 253px;
  }
  #artikel .times-card{
    height: 25px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: .8em;
  }
   .times-content{ 
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative; 
    border-bottom: 1px solid #dadada;
  }
 
  .times-content::after{  
    position: absolute;
    content: "";
    padding-bottom: 45px;
    width: 100%;
    /* margin-top: 10px; */
    border-bottom: 1px solid #dadada;
  }
  #about #about-coursel{
    max-width: 450px;
  }
  #about #about-coursel .carousel-item img{
    max-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  } 
  #about .img-structur{
    min-height: 100vh; 
    width: 100%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  @media (max-width: 768px) {
     #about .img-structur{
      background-position: inherit !important;
      min-height: 50vh;
     }
  }
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: white;
    line-height: 0;
  }
  
  .scroll-top:hover {
    background: #89C68E;
    color: #fff;
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
 
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    font-family: var(--font-primary);
  }
  
  .header .logo h1 span {
    color: var(--color-primary);
  }
  
  .header-scrolled {
    background: #89C68E; 
    position: fixed;
    transition: all 0.6s ease-out;
    padding: 15px 0 !important;
  }

  .header-contact{
    border-radius: 50px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 9.9%, rgba(0, 0, 0, 0.00) 100%), rgba(2, 198, 196, 0.00);
    backdrop-filter: blur(2px); 
    padding: 6px 15px !important;
  }
  @media (max-width: 768px) {
    .header .logo img {
      margin-left: 20px;
      max-height: 30px;
    }
  }
  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
      list-style-type: none;
    }
  
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3px;
      font-family: var(--font-primary);
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      /* background-color: var(--color-primary); */
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      width: 100%;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
  
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 28px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
    }
  
    .navbar .dropdown ul li {
      min-width: 200px;
    }
  
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--color-default);
      font-weight: 400;
    }
  
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
  
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: var(--color-primary);
    }
  
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  @media (min-width: 1280px) {
  
    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
  }
  
  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }
  
    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: linear-gradient(180deg, #89C68E 0%, #68BBBC 100%); 
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: var(--font-primary);
      font-size: 15px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      text-transform: uppercase;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
  
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      transition: all 0.5s ease-in-out;
      border: 1px solid #222428;
    }
  
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }
  
    .mobile-nav-show {
      position: relative;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      padding-right: 10px;
    }
  
    .mobile-nav-hide {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 9999;
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .navbar {
      left: 0;
    }
  
    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 9996;
    }
  }
  

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    overflow-x: hidden;
    padding: 0;
  }
  
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
  }
  
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
  }
  
  .hero .carousel-item::before {
    content: "";
    background: linear-gradient(180deg, rgba(162, 212, 138, 0.6) 0%, rgba(137, 202, 159, 0.6) 100%);

    position: absolute;
    inset: 0;
  }
  
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .hero .info {
      padding: 0 50px;
    }
  }
  
  .hero .info h2 {
    color: #fff; 
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: relative;
  }
   
  @media (max-width: 768px) {
    .hero .info h2 {
      font-size: 25px;
    }
  }
  
  .hero .info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
  }
  
  .hero .info .btn-get-started {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid var(--color-primary);
  }
  
  .hero .info .btn-get-started:hover {
    background: var(--color-primary);
  }
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-prev {
      padding-left: 15px;
    }
  }
  
  .hero .carousel-control-next {
    justify-content: end;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-next {
      padding-right: 15px;
    }
  }
  
  /* .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: linear-gradient(180deg, rgba(162, 212, 138, 0.6) 0%, rgba(137, 202, 159, 0.6) 100%);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
  }
  
  .hero .carousel-control-prev:focus,
  .hero .carousel-control-next:focus {
    opacity: 0.5;
  }
  
  .hero .carousel-control-prev:hover,
  .hero .carousel-control-next:hover {
    opacity: 0.9;
  }
  
  .hero .hero-img{
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;
  }
  .hero .hero-img::before {
    content: "";
    background: linear-gradient(180deg, rgba(162, 212, 138, 0.6) 0%, rgba(137, 202, 159, 0.6) 100%);
    min-height: 100vh;
    position: absolute;
    inset: 0;
  }
  @media (max-width: 768px) {
    .hero .hero-img{ 
      background-attachment: unset;
    }
  }
  /* SWIPPER */
  .swiper-slide img{
    aspect-ratio: 3/3;
    object-fit: contain;
    width: 80px;
  }
  .swiper-slide{
    justify-content: center;
    display: grid;
  } 
  @media (max-width: 768px) {
    .swiper-next svg,  .swiper-prev svg{
      width: 28px;
    }
    .swiper-slide img{
      width: 50px;
    }
  }
  /* FOOTER */
 
  .footer {
    color: #fff; 
    background: linear-gradient(180deg, #89C68E 0%, #68BBBC 100%);
    color: white !important;
    min-height: 444px;  
    font-size: 14px;
    padding: 80px 0 60px 0;
    position: relative;
  }
  
  .footer .footer-content .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer .footer-content .footer-info h3 span {
    color: var(--color-primary);
  }
  
  .footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
  }
  
  .footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    /* background: rgba(255, 255, 255, 0.1); */
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .footer-content .social-links a:hover {
    background: var(--color-primary);
    text-decoration: none;
  }
  .footer .footer-content h3 {
    
    color: #fff;
  }
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links ul li {
    padding: 8px 0;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-content .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: #fff;
  }
  
  .footer .footer-legal .credits a {
    color: var(--color-primary);
  }

  .border-left{
    border-left: 1px solid #dadada;
  }
  .border-right{
    border-right: 1px solid #dadada;
    margin-right: 5px !important;
  }

  .text-justify{
    text-align: justify;
  }